body{
	margin left: 5%;
}

#Slot1{
	position: absolute;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
}
#Slot2{
	position: absolute;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
	left: 30%;

}
#Slot3{
	position: absolute;
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
	left: 60%

}
#Slot4{
	position: absolute;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
	top:30%;
}
#Slot5{
	position: absolute;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
	top:30%;
	left:30%;

}
#Slot6{
	position: absolute;
	
	border-bottom-style: solid;
	height: 28%;
	width: 28%;
	border-width: 5px;
	top:30%;
	left:60%;
}
#Slot7{
	position: absolute;
	border-right-style: solid;

	height: 28%;
	width: 28%;
	top:60%;
	border-width: 5px;
}

#Slot8{ 
	position: absolute;
	border-right-style: solid;
	height: 28%;
	width: 28%;
	left:30%;
	top:60%;
	border-width: 5px;

}
#Slot9{
	position: absolute;

	height: 28%;
	width: 28%;
	left:60%;
	top:60%;

}